@charset "UTF-8";
.background_png {
  background-image: url("kq-assets/background.png");
  opacity: 0.49;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 1033px;
  z-index: 1;
}

.KQlogo_png {
  background-image: url("kq-assets/KQlogo.png");
  position: absolute;
  left: 30px;
  top: 28px;
  width: 130px;
  height: 110px;
  z-index: 2;
}
.salads_png {
  background-image: url("kq-assets/salads.png");
  position: absolute;
  left: 45px;
  top: 268px;
  width: 344px;
  height: 344px;
  z-index: 12;
}
.salads_title
{
	position: absolute;
	left: 175px;
  	top: 612px;
	z-index: 13;
}
.platters_title
{
	position: absolute;
	left: 560px;
  	top: 612px;
	z-index: 13;
}
.wraps_title
{
	position: absolute;
	left: 959px;
  	top: 612px;
	z-index: 13;
}

.kabob_wrap_png {
  background-image: url("kq-assets/kabob wrap.png");
  position: absolute;
  left: 819px;
  top: 267px;
  width: 344px;
  height: 344px;
  z-index: 20;
}
.Kabob_Platter_png {
  background-image: url("kq-assets/Kabob_Platter.png");
  position: absolute;
  left: 432px;
  top: 266px;
  width: 344px;
  height: 344px;
  z-index: 16;
}

.navigation{
	width: 1000px;
	height: 50px;
	background-color:;
	position: absolute;
	z-index:10;
  left: 200px;
}

ul{
	list-style-type: none;
}

ul li{
	display: inline;
	margin-right: 130px;
}
a{
	color: #653e1a;
	text-decoration: none;
	font-family: 'Varela', sans-serif;
	font-size: 25px;
}

a:hover{
	color:#861916;
	
}
